.subtitle
	text-align center
	font-size 18px
	letter-spacing 2px
	color var(--c-dark)
	width 100%
	margin-bottom 14px
.title
	width 100%
	font-size 30px
	text-align center
	letter-spacing 2px
	color var(--c-dark)
	font-weight bold
	margin-bottom 64px
	border-bottom 1px solid var(--c-primary)
	padding-bottom 30px
	@media screen and (max-width 768px)
		font-size 23px